/*@font-face {*/
/*    font-family: 'heebomedium';*/
/*    src: url('../fonts/heebo-medium-webfont.eot');*/
/*    src: url('../fonts/heebo-medium-webfont.eot?#iefix') format('embedded-opentype'),*/
/*    url('../fonts/heebo-medium-webfont.woff2') format('woff2'),*/
/*    url('../fonts/heebo-medium-webfont.woff') format('woff'),*/
/*    url('../fonts/heebo-medium-webfont.ttf') format('truetype'),*/
/*    url('../fonts/heebo-medium-webfont.svg#heebomedium') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

* {
    padding: 0;
    margin: 0;
}

body {
    /*font-family: 'Heebo', sans-serif;*/
    background: #FFFFFF;
}


/*header*/
header {
    padding-top: 27px;
}

.container {
    max-width: 1032px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 33px;
    transition: 0.5s;
}

header nav li a {
    font-style: normal;
    font: 500 20px/29px 'Heebo';
    text-align: right;
    color: #000000;
    text-decoration: none;
}

header nav ul li:hover {
    transform: rotate(360deg);
}


/*main banner*/
.main-banner {
    padding-top: 140px;
    padding-bottom: 71px;
    font-style: normal;
}

.main-banner .container {
    max-width: 856px;
}

h1 {
    font: 700 44px/60px 'Heebo';
    color: #21243D;
    margin-bottom: 40px;
}

.main-banner p {
    max-width: 498px;
    font: 400 16px/24px 'Heebo';
    color: #21243D;
    margin-bottom: 38px;
}

.main-banner a {
    display: inline-block;
    background: #FF6464;
    border-radius: 2px;
    padding: 13px 20px;
    font: 500 20px/29px 'Heebo';
    color: #FFFFFF;
    text-decoration: none;
}

.main-banner .container-img {
    max-width: 243px;
    border-radius: 50%;
    overflow: hidden;
}

.main-banner .container-img img {
    width: 100%;
    display: block;
}


/*section resent posts*/
.recent-posts {
    background: #EDF7FA;
    padding-top: 7px;
    padding-bottom: 32px;
}

.recent-posts .container {
    max-width: 856px;
}

.recent-posts .container h4 {
    font: 400 22px/60px 'Heebo';
    color: #21243D;
    margin-bottom: 2px;
}

.recent-posts .container a {
    font: 400 16px/24px 'Heebo';
    color: #00A8CC;
    text-decoration: none;
}

.recent-posts .container a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.recent-posts .container article {
    max-width: 418px;
    box-sizing: border-box;
    padding: 24px 21px 29px 23px;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}

.recent-posts .container article h3 {
    font: 700 26px/42px 'Heebo';
    color: #21243D;
    margin-bottom: 17px;
}

.recent-posts .year-post {
    margin-bottom: 11px;
    font: 400 18px/34px 'Heebo';
    color: #21243D;
}

.recent-posts .year {
    padding-right: 26px;
    position: relative;
}

.recent-posts .year:after {
    content: " ";
    background: #000000;
    width: 1px;
    height: 21px;
    right: -1px;
    top: 4px;
    position: absolute;
}

.recent-posts .type-post {
    padding-left: 26px;
}

.recent-posts .container article p {
    font: 400 16px/24px 'Heebo';
    color: #21243D;
}

/*section featured works*/
.featured-works {
    padding-top: 15px;
    padding-bottom: 83px;
    font-style: normal;
}

.featured-works .container {
    max-width: 858px;
}

.featured-works .container h4 {
    font: 400 22px/60px 'Heebo';
    color: #21243D;
    margin-bottom: 11px;
}

.featured-works .container-img {
    max-width: 246px;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 18px;
    padding-top: 11px;
}

.featured-works .container-img img {
    width: 100%;
    display: block;
}

.featured-works h2 {
    font: 700 30px/44px 'Heebo';
    color: #21243D;
    margin-bottom: 16px;
}

.featured-works .year {
    font: 900 18px/25px 'Heebo';
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 26px;
}

.featured-works .type-works {
    font: 400 20px/34px 'Heebo';
    color: #8695A4;
}

.featured-works .year-works {
    margin-bottom: 17px;
}

.featured-works p {
    font: 400 16px/24px 'Heebo';
    color: #21243D;
    max-width: 594px;
    padding-bottom: 21px;
    margin-bottom: 2px;
}

.featured-works article {
    margin-bottom: 31px;
}

.featured-works article:last-of-type {
    margin-bottom: 0;
}

/*form*/
.form-request {
    padding-top: 69px;
    padding-bottom: 37px;
    background: #000000;
    }

.form-request .container {
    max-width: 564px;
    margin: auto;
}

.form-request label {
    display: none;
}

form input, select, textarea {
    width: 100%;
    display: block;
    padding: 18px 0 17px 31px;
    background: rgba(255, 255, 255, 0.18);
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    -webkit-appearance: none;
    box-sizing: border-box;
}

form select option {
    color: black;
}

.form-request form .email, textarea {
    background: rgba(255, 255, 255, 0.2);
}

form textarea {
    height: 127px;
    resize: none;
    padding-bottom: 0;
    margin-bottom: 22px;
  }

::placeholder {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

form button {
    background: #000000;
    border: 1px solid #7EC4BD;
    padding: 16px 60px;
    display: block;
    margin: auto;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #8BCAC3;
}

form button:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}


    /*footer*/
footer {
    padding-top: 51px;
    padding-bottom: 54px;
}

footer ul {
    /*display: flex;*/
    justify-content: center;
    margin: auto;
}

footer ul li {
    margin: 0 17px 26px 17px;
}

footer li a img {
    display: block;
    margin: 0 auto;
}

footer p {
    font: 400 14px/21px 'Heebo';
    text-align: center;
    color: #21243D;
}


/*page Blog*/
.blog {
    padding-top: 106px;
    padding-bottom: 53px;
    font-style: normal;
}

.blog .container {
    max-width: 681px;
}

.blog h1 {
    margin-bottom: 55px;
}

.blog h3 {
    font: 500 30px/44px 'Heebo';
    color: #21243D;
    margin-bottom: 16px;
}

.blog .year {
    font: 400 20px/29px 'Heebo';
    color: #21243D;
    padding-right: 20px;
    position: relative;
    /*display: inline-block;*/
    /*height: 21px;*/
    /*border-right: 1px solid #000000;*/
}

.blog .year:after {
    content: " ";
    background: #000000;
    width: 1px;
    height: 21px;
    /*margin-left: 20px;*/
    right: -1px;
    top: 4px;
    position: absolute;
}

.blog .type-post {
    font: 400 20px/29px 'Heebo';
    color: #8695A4;
    padding-left: 20px;
}

.blog .year-post {
    margin-bottom: 15px;
}

.blog .text {
    font: 400 16px/24px 'Heebo';
    color: #21243D;
    margin-bottom: 29px;
}

.blog article {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 32px;
}

.blog article:last-of-type {
    margin-bottom: 0;
}




